@media (min-width: 300px) and (max-width:767px){
  .navbar ul li{
    display: none;
  }
  .navbar img{
    width: 30%;
  }
  .caroussel-images{
    width: 100%;
    object-fit: contain;
  }
  header{
    position: relative;
  }
  .info-carrousel{
    /* width: 100%; */
    /* position: absolute; */
    text-align: center;
  }
}